*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*navbar*/
.navbar{
	height: 10vh;
	width: 100vw;
	border: 2px solid red;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	position: fixed;

}
.navlink{
	text-decoration: none;
	font-family: 'Bangers', cursive;
	margin-right: 2vw;
	font-size: 25px;
	color: black;
}
.navlink:visited{
	color: none;
}
.navbar > p{
	border: 2px solid green;
	background-color: transparent;
}

/*End of navbar*/


/*border class*/
.borderpage{
	border: 2px solid black;
}

.borderRed{
	border: 2px solid red;
}

.borderBlue{
	border: 2px solid blue;
}

.borderGreen{
	border: 2px solid green;
}

.borderViolet{
	border: 2px solid violet;
}

.borderYellow{
	border: 2px solid yellow;
}

.borderGray{
	border: 2px solid whitesmoke;
}


/*Start of Page 1*/

.page1{
	height: 100vh;
	background-color: red;
	align-items: center;
	justify-content: center;
	display: flex;
	text-align: center;
}
.intro{
	width: 65vw;
}
h1{
	font-family: 'Bowlby One SC', cursive;
	padding: 30px 0px;
}
h3{
	font-family: 'Roboto', sans-serif;
}
h5{
	font-family: 'Roboto', sans-serif;
}

/*Page2*/
.page2{
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.profpic {
	display: flex;
	justify-content: center;
	align-items: center;

}
.profpic > img{
	height: 250px;
	width: 250px;
	margin-right: 100px;
}
.profpic > .info{
	height: 80vh;
	width: 30vw;
	display: block;
	padding-left: 30px;
	background-color: whitesmoke;
}
.info > *{
	margin-top: 30px;
}
.info > h1{

	text-align: center;

}
.info > div > h5{
	text-align: justify;
}
/*.connectme > a{
	text-decoration-style: none;
}*/
/*.connectme > a > i:visited{
	color: none;
	background-color: none;
}
.connectme > a:hover{
	transform: scale(1.5);
}*/

/*page3*/
/*.page3{
	height: 100vh;
}
.skills{
	height: 80vh;
	width: 70vw;
}
*/

/*media query*/
@media only screen and (max-width: 600px) 
{	

	/*navbar*/
	.navbar{
	height: 10vh;
	width: 100vw;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	position: fixed;
	text-align: center;

	}
	.navlink{
		text-decoration: none;
		font-family: 'Bangers', cursive;
		margin-right: 2vw;
		font-size: 30px;
		letter-spacing: 2px;
		padding: 5px;
	}
	.navlink:visited{
		color: black;
	}
	.navbar > p{
		border: 2px solid green;
		background-color: transparent;
	}
	/*end of navbar*/

	h1{
	font-family: 'Bowlby One SC', cursive;
/*	padding: 30px 0px;*/
	font-size: 25px;
	}
	h3{
		font-family: 'Roboto', sans-serif;
		font-size: 4vw;
	}
	h5{
		font-family: 'Roboto', sans-serif;
		font-size: 4vw;
		padding-left: 30px;
	}

	.page2{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	}

	.profpic {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}

	.profpic > img{
		height: 200px;
		width: 200px;
		margin-right: 0px;
	}

	.profpic > .info{
	height: 40vh;
	width: 90vw;
/*	display: block;*/
	padding-left: 0px;
	background-color: whitesmoke;
	}
	.info > *{
		margin-top: 5px;
	}
	.info > h1{

		text-align: center;

	}
	.info > div > h5{
		text-align: justify;
	}
	.connectme{
		margin-top: 10px;
		padding-left: 30px;
	}

}


@media only screen and (min-width: 760px) and (max-width: 996px)
{

	/*navbar*/
.navbar{
	height: 10vh;
	width: 100vw;
	border: 2px solid red;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	position: fixed;

}
.navlink{
	text-decoration: none;
	font-family: 'Bangers', cursive;
	margin-right: 2vw;
	font-size: 25px;
	color: black;
}
.navlink:visited{
	color: none;
}
.navbar > p{
	border: 2px solid green;
	background-color: transparent;
}

/*End of navbar*/


/*border class*/
.borderpage{
	border: 2px solid black;
}

.borderRed{
	border: 2px solid red;
}

.borderBlue{
	border: 2px solid blue;
}

.borderGreen{
	border: 2px solid green;
}

.borderViolet{
	border: 2px solid violet;
}

.borderYellow{
	border: 2px solid yellow;
}

.borderGray{
	border: 2px solid whitesmoke;
}


/*Start of Page 1*/

.page1{
	height: 100vh;
	background-color: red;
	align-items: center;
	justify-content: center;
	display: flex;
	text-align: center;
}
.intro{
	width: 65vw;
}
h1{
	font-family: 'Bowlby One SC', cursive;
	padding: 30px 0px;
}
h3{
	font-family: 'Roboto', sans-serif;
}
h5{
	font-family: 'Roboto', sans-serif;
}

/*Page2*/
.page2{
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.profpic {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;

}
.profpic > img{
	height: 250px;
	width: 250px;
	margin-right: 0px;
}
.profpic > .info{
	height: 50vh;
	width: 50vw;
	display: block;
	padding-left: 30px;
	background-color: whitesmoke;
}
.info > *{
	margin-top: 30px;
}
.info > h1{

	text-align: center;

}
.info > div > h5{
	text-align: justify;
}
/*.connectme > a{
	text-decoration-style: none;
}*/
/*.connectme > a > i:visited{
	color: none;
	background-color: none;
}
.connectme > a:hover{
	transform: scale(1.5);
}*/

}

